.row.container
  .large-12.small-12.columns
    .1-image.images-unsubscribe
      You are looking for a page that doesn't exit. But as an explorer, you might be hungry. Here
      %br
      = image_tag 'Pie_1.png'