<!-- why is this necessary? -->
<% if @matchedEvents %>
  <div class="allresults">
    <% @matchedEvents.each do |event| %>
      <div class="eachresult1">
        <div class="name1">
          <a href="#{event.url}"> <%="#{event.name}" %></a>
        </div>
        <div class="location1">
          <%= "@ #{event.location}" %>
        </div>
        <div class="time1">
          <%= "@ #{event.dayOn}" %>
        </div>
        <div class="matchscore1">
           Price: <%= "#{event.price}" %>
        </div>
      </div>
  <% end %>
<% end %>




