<% if @result %>

  <div class="allresults">
      <% @result.each do |glocation, name| %>
          <div class="eachresult1">
          		<div class="name1">
          		<%="Go to: #{name}" %>
           		</div>
           		<div class="location1">
           		<%= "@ #{Event.find_by_name(name).location}" %>
           		</div>
           		<div class="time1">
           		<%= "@ #{Event.find_by_name(name).time}" %>
           		</div>
         	</div>
      <% end %>
  </div><br>
   
<% end %>
