<div class="overlay">
  <div class="topright">
  </div>

  <div class="lightbox">
    <h1 class="hellomsg">What's happening in Toronto?</h1>
    <h1 class="shortds">We will help you decide what to do,<br>
      <span class="stext"> in just a few clicks.</span> For free!
    </h1>
    <br>
    <div class="fbbuttonpos">
      <a class="btn-auth btn-facebook large" href="/auth/facebook">
      Sign in with <b>Facebook</b>
      </a>
    </div>
    <br>
    <h2 class="theapp"><%= link_to "Just let me use the app.", "/whattodo" %></h2>
    <br>
  </div>

</div>