<% if @result %>

<div class="result">
	<% @result.each do |event| %>
      	<% event.each do |name, score| %>
			<div class="eachresult">
          		<div class="name">
          		<%="Go to: #{name}" %>
           		</div>
           		<div class="location">
           		<%= "@ #{Event.find_by_name(name).location}" %>
           		</div>
           		<div class="time">
           		<%= "@ #{Event.find_by_name(name).time}" %>
           		</div>
           		<div class="matchscore">
                Relevance score: 
                <a class="score"><%= score %></a>
              	</div>
         	</div>
		<% end %>
    <% end %>
</div>

<% end %>
