<% if @result %>
	<table class="reco">
		<% @result.each do |event| %>
			<tr>
				</td>
					<% if event[1].length > 15 %>
						<% short_string_ideal_length = 15 %>
						<% snip_idx = event[1].index(/\s/, short_string_ideal_length) %>
						<% short_str = event[1][0, snip_idx] + "..." %>
						<%= short_str %>
					<% else %>
						<%= event[1] %>
					<% end %>
				<td>

				<td class="greenscore">
					<%= event[0].round(1) %>
				</td>

			</tr>
		<% end %>
	</table>

<% else %>

	<div class="emptyresult">
		You do not have any recommendations.
	</div>

<% end %>