<% if @result %>
	<table class="reco">
		<% @result.each do |event| %>
			<tr>
				<td class="eventname">
					<%= eventname = event[1][0..15] %>
					<% if event[1].length > 15 %>
						<%= "..." %>
					<% end %>
				</td>

				<td class="greenscore">
					<%= event[0].round(1) %>
				</td>

			</tr>
		<% end %>
	</table>

<% else %>

	<div class="emptyresult">
		You do not have any recommendations.
	</div>

<% end %>