	<body>
		<div class='wrapper'>
			<!-- top nav bar similar to 5by. The profile thumb 
			is if we decide to have user accounts. -->
			<div class='topnav'>
				<div id='profilethumb'>
					<a href="#"></a>
					<a href="#"></a>
				</div>
				<div id='logo'>
					<p></p>
				</div>
			</div>

			<!-- This div just takes up space at the top of page
			for formatting reasons. -->
			<div class="topspace">
			</div>


			<!-- Question to ask user. We may want to also put 
			the date in this question. -->
			<div class='question'>
				<p>Hi, how are you feeling right now?</p>
			</div>

			<div class='question2'>
				<p>What do you feel like doing?</p>
				<!-- <p class="subtext">We are almost there</p> -->
			</div>

			<div class='question3'>
				<p>How much are you willing to spend?</p>
			</div>

			<!-- This div is where all the categories will be 
			held (including an ad box for advertisers). -->
			<div class='categories'>
				<button class='categorybox'>Excited
				</button>
				<button class='categorybox'>Lazy
				</button>
				<button class='categorybox'>Happy
				</button>
				<button class='categorybox'>Moody
				</button>
				<button class='categorybox'>Sad
				</button>
				<button class='categorybox'>Relaxed
				</button>
			</div>

			<div class='categories1'>
				<button id='1' class='categorybox'>Party
				</button>
				<button id='2' class='categorybox'>Chill
				</button>
				<button id='3' class='categorybox'>Outdoors
				</button>
				<button id='4' class='categorybox'>Romantic
				</button>
				<button id='5' class='categorybox'>Sports
				</button>
				<button id='6' class='categorybox'>Geek Out
				</button>
			</div>

			<div class='price'>
				<button class='categorybox'>&lt; $20
				</button>
				<button class='categorybox'>$20 - $50
				</button>
				<button class='categorybox'>$50 - $100
				</button>
				<button class='categorybox'>$100 - $300
				</button>
				<button class='categorybox'>$300 - $500
				</button>
				<button class='categorybox'>I don't care!
				</button>
			</div>

			<div class='bottom'>
				<p></p>
			</div>

		</div>
	</body>