	<body>
		<div class='wrapper'>
			<!-- top nav bar similar to 5by. The profile thumb 
			is if we decide to have user accounts. -->
			<div class='topnav'>
				<div id='profilethumb'>
					<a href="#"></a>
					<a href="#"></a>
				</div>
				<div id='logo'>
					<p>What to do.</p>
				</div>
			</div>

			<!-- This div just takes up space at the top of page
			for formatting reasons. -->
			<div class="topspace">
			</div>


			<!-- Question to ask user. We may want to also put 
			the date in this question. -->
			<div class='question'>
				<p>Hi, how are you feeling right now?</p>
			</div>

			<!-- <div class='question2'>
				<p>How much do you want to spend?</p>
				<p class="subtext"> We are almost there</p>
			</div> -->



			<!-- This div is where all the categories will be 
			held (including an ad box for advertisers). -->
			<div class='categories'>
				<button class='categorybox'>Excited
				</button>
				<button class='categorybox'>Lazy
				</button>
				<button class='categorybox'>Happy
				</button>
				<button class='categorybox'>Moody
				</button>
				<button class='categorybox'>Sad
				</button>
				<button class='categorybox'>Relaxed
				</button>
			</div>

			<div class='categories1'>
				<button class='categorybox'>Party
				</button>
				<button class='categorybox'>Chill
				</button>
				<button class='categorybox'>Outdoors
				</button>
				<button class='categorybox'>Romantic
				</button>
				<button class='categorybox'>Sports
				</button>
				<button class='categorybox'>Geek Out
				</button>
			</div>

			<div class='price'>
				<button class='categorybox'>&lt; $20
				</button>
				<button class='categorybox'>$20 - $50
				</button>
				<button class='categorybox'>$50 - $100
				</button>
				<button class='categorybox'>$100 - $300
				</button>
				<button class='categorybox'>$300 - $500
				</button>
				<button class='categorybox'>I don't care!
				</button>
			</div>

			<div class='bottom'>
				<p></p>
			</div>

		</div>
	
	<script src="what2do.js" type="text/javascript"></script>
	</body>