	<body>
		<div class='wrapper'>
			<!-- top nav bar similar to 5by. The profile thumb 
			is if we decide to have user accounts. -->
			<div class='topnav'>
				<div id='profilethumb'>
					<a href="#"></a>
					<a href="#"></a>
				</div>
				<div id='logo'>
					<p></p>
				</div>
			</div>

			<!-- This div just takes up space at the top of page
			for formatting reasons. -->
			<div class="topspace">
			</div>


			<!-- Question to ask user. We may want to also put 
			the date in this question. -->
			<div class='question'>
				<p>Hi, how are you feeling right now?</p>
			</div>

			<div class='question2'>
				<p>What do you feel like doing?</p>
				<!-- <p class="subtext">We are almost there</p> -->
				<p class="back1"> Go Back </p>
			</div>

			<div class='question3'>
				<p>How much are you willing to spend?</p>
				<p class="back2"> Go Back </p>
			</div>

			<div class='question4'>
				<p>Here are our suggestions: </p>

			</div>

			<!-- This div is where all the categories will be 
			held (including an ad box for advertisers). -->
			<div class='categories'>
				<button id='1' class='categorybox'></button>
				<button id='2' class='categorybox'></button>
				<button id='3' class='categorybox'></button>
				<button id='4' class='categorybox'></button>
				<button id='5' class='categorybox'></button>
				<button id='6' class='categorybox'></button>
			</div>
			<script type="text/javascript">
			isInArray=function(value, array) {
  				return array.indexOf(value) > -1 ? true : false;
			}
			  var bank=["Happy", "Sad", "Celebratory", "Lonely", "Restless", "Lazy", "Excited", "Blah", "Festive", "Weird", "Nerdy", "Normal", "Fancy"];
			  var indexes=[]
			  for (var i=6; i>=0; i--) {
			  	var num=Math.ceil(Math.random()*(bank.length)-1)
			  	while (isInArray(num,indexes)) {
			    	num=Math.ceil(Math.random()*(bank.length)-1)
			     }
			     indexes.push(num)
			    $("#"+i).text(bank[num])
			    
			  }

			</script>

			<div class='categories1'>
				<button id="7" class='categorybox1'></button>
				<button id='8' class='categorybox1'></button>
				<button id='9' class='categorybox1'></button>
				<button id='10' class='categorybox1'></button>
				<button id='11' class='categorybox1'></button>
				<button id='12' class='categorybox1'></button>
			</div>

			<script type="text/javascript">

			  var bank1=["Get Cultured", "Learn", "Trying New Things", "Be Merry", "Hangout with Strangers", "Laugh", "Be a Tourist", "Jam Out", "Be a Good Person", "Party Hardy", "Spend Spend Spend", "Family Channel", "Sporting Around", "Watch a Show", "Outdoor Fun", "Geeking Out"];
			  var indexes1=[]
			  isInArray= function(value, array) {
  				return array.indexOf(value) > -1 ? true : false;
				}
			  for (var i=12; i>=7; i--) {
			  	var num1=Math.ceil(Math.random()*(bank1.length)-1)
			  	while (isInArray(num1,indexes1)) {
			    	num1=Math.ceil(Math.random()*(bank1.length)-1)
			     }
			     indexes1.push(num1)
			    $("#"+i).text(bank1[num1])
			    
			  }

			</script>

			<div class='price'>
				<button id='13' class='categorybox2'>Free!</button>
				<button id='14' class='categorybox2'>&lt;$20</button>
				<button id='15' class='categorybox2'>$20-$50</button>
				<button id='16' class='categorybox2'>$50-$100</button>
				<button id='17' class='categorybox2'>$100-$300</button>
				<button id='18' class='categorybox2'>I don't care!</button>
			</div>

			<!-- Output styling in result.css.scss -->

			<div class='output'>
				<p>Results:</p>
				<%= render 'ranks'%>
			</div>

			<div class='output1'>
				
					<button id="all">All Results</button>
					<button id="try">Try Again!</button>
				
			</div>
			
			<div id="blackness">

			</div>
			
			<script type="text/javascript">

			  var bank2=["Lining Up Meter Sticks", "Asking Robots Politely", "Using Cheat Codes"];
			  $("#blackness").text(bank2[Math.ceil(Math.random()*bank2.length()-1)])
			    

			</script>

			<!-- Look in alloutput.css.scss file for styling -->
			<div class="buttons">
					<button id="price" style="display:inline">Price</button>
					<button id="time" style="display:inline">Time</button>
					<button id="dist" style="display:inline">Distance</button>
					<button id="ourrank" style="display:inline">Rank</button>
				</div>
			<div class="alloutput">

				<%= render "all" %>
			</div>

			<div class='bottom'>
				<p></p>
			</div>

		</div>
	</body>
