
<!-- dealing with large data sets, 15640 events in that stream.
will allow multiple selections (up to three).multiple words, different moods so each time seems different.
click up to n moods, then say how much money you have in your pocket. select range
then your location based on ip address find your stuff. want to put javascript to make it move to next task which is money. this is all a form mind you.-->


You're bored. But how are you feeling:
<br>
<br>
<br>
<br>

<div id="data">
  
  <br>

	
   
    <br>
    <br>
  
  <br>

</div>
Recommendations:
<br>
<div id"rec">
<%= render 'rec' %>
</div>

<div id="eventbrite">
<%= @cat.inspect %>
</div>
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type='text/javascript' src="http://evbdn.eventbrite.com/s3-s3/static/js/platform/Eventbrite.jquery.js"></script>
<script type='text/javascript'>
//if they select lazy, this needs to run
$("#clickable").on("click",function(){
	var thiss= this;
	if ("geolocation" in navigator) {
		var longitude;
		var latitude;
		var button;
  		navigator.geolocation.getCurrentPosition(function(position){
  			$.ajax({
  				url: "/",
  				type: "GET",
  				dataType: "script",
  				data: {
  					button: $(thiss).text(),
  					longitude: position.coords.longitude,
  					latitude: position.coords.latitude,

  				}
  				
  			})
  		})
	} else {
		//will need to guess
  		alert("no geolocation")
	}
})
// need to pass this into controller, ajax to set variable? but need route?
// $(document).ready(function () {
// 	if ("geolocation" in navigator) {
// 		var longitude;
// 		var latitude;
// 		var button;
//   		navigator.geolocation.getCurrentPosition(function(position){
//   			$.ajax({
//   				url: "/",
//   				type: "GET",
//   				dataType: "script",
//   				data: {
  					
//   					longitude: position.coords.longitude,
//   					latitude: position.coords.latitude,

//   				}
  				
//   			})
//   		})
// 	} else {
// 		alert("no geolocation")
// 	}
// })
</script>