<div class="row">
  <div class="large-12 small-12 columns welcome center">
    <h4 style="text-decoration:underline">This noob contacted Bad Comics</h4>


      <p><b>Name:</b>
      <%= @contact.name %></p>
      <br>
      <p><b>Email:</b>
      <%= @contact.email %></p>
      <br>
      <p><b>Message:</b>
      <%= @contact.message %></p>
  </div>
</div>
