<table class="twelve columns">
  <tr>
    <td>
      <!-- <h1>Welcome, Daneel Olivan</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p> -->
      <img src="https://s3-us-west-2.amazonaws.com/badcomics/images/comics/welcome.gif"/>
    </td>
    <td class="expander"></td>
  </tr>
</table>

<!-- <table class="twelve columns">
  <tr>
    <td class="panel">
      <p>Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. <a href="#">Click it! »</a></p>
    </td>
    <td class="expander"></td>
  </tr>
</table> -->