.row
  .large-12.small-12.columns.welcome.center
    %tr
      %td
        = image_tag "first.png"
    %tr
      %td
        Women come and go, speaking of Bad Comics-o.

        Here are the comics we published this week. Check the site for more!
    -# NTD: Make these links
    - @published.each do |image|
      %tr
        %td
          %a{:href => "#{image_url(image)}"}