.row.container
  .large-12.small-12.columns
    %h5 If you subscribe now, Cecil the lion comes back.
    = simple_form_for @subscriber, html: { class: 'box-non' }, remote: true do |f|
      = f.input :email, label: false, placeholder: 'Input your work/ashley madison email here', class: 'subscriber-email large-4 columns'
      .subscriber-submit-container
        = f.button :submit, :label => 'Subscribe', value: 'Subscribe', class: 'subscriber-submit large-2 columns'