.row
  .large-12.small-12.columns
    .first-image
      I understand you may want to do ubsubscribe, but first let us make our case. Click next below or cancel at anytime to stop unsubscribing.
    .second-image
      Do you know what dreams are? Hopes and amibitions?
    .third-image
      These children had them, still do in fact.
    .fourth-image
      Because these children are us
    .fifth-image
      if you unsubscribe, you kill us
    .fourth-image
      our dreams, our hopes.
    .seventh-image
      Please don't. We trust you.
    .seventh-image
      We promise we will be better. I mean look, here is some art we are currently working on.
    .seventh-image
      I am begging now. Please. What can we do for you? Sex, squash partner, pies? Who doesn't like pies?! Here is a pie.
    .seventh-image
      You are a monster. A goddamn evil worse than Nazism combined with One Direction
    .seventh-image
      I didn't mean that. I am sorry. You just probably don't like emails. You are all about time efficency. We get that. YOu like to get a job done quick and fast. So do we. I guess we have a lot in common, us and you. I mean, we would probably be great friends. I am sorry for all that stuff I pulled back there, with the slander and dreams. I mean, we're both just average guys, trying to have a few good laughs before we die. YOu know, that final end, which we all kind know is coming but are trying to avoid. I mean, I guess I am just saying is I am afraid of it all, you know, what is coming and what isn't. I guess I just wanted that subscription to enver end, for us to become friends, virtually and trhough comedy. I mean people can change right?
    .seventh-image
      Fuck you man.
    .seventh-image
      Seriously, my dad can beat your dad up.
    .seventh-image
      Okay, I am sorry sorry once again. I lost my cool.
    .seventh-image
      Wait, I wasn't done my apology!
    .seventh-image
      You son of a bitch. There is no unsubscribe!
    .confirm-unsubscribe
      - @subscriber = params[:subscriber_id]
      = button_to 'Fine. Shit wo/man. Ruin our lives.', unsubscribe_confirm_path(@subscriber)
  .next-image
    %button NEXT
  .cancel
    %button CANCEL