.row
  .large-12.small-12.columns.soon-clouds
    .1-image.images-unsubscribe
      It is too bad you want to leave us. Just click 'Next' below to unsubscribe, or 'Cancel' to cancel the subscription!
    .2-image.images-unsubscribe ... But, wait! Have you ever had dreams? 
    .3-image.images-unsubscribe
      These children had them, still do in fact.
      
    .4-image.images-unsubscribe
      Because these children are us. Us, the creators of bad comics, when we were four. Look how happy we were.
    .5-image.images-unsubscribe
      If you unsubscribe, you give up on these children.
    .6-image.images-unsubscribe
      On their hopes, on their dreams.
    .7-image.images-unsubscribe
      Please don't. We trust you. This subscription means something!
    .8-image.images-unsubscribe
      We promise we will be better. I mean look, here is some art we are currently working on.
    .9-image.images-unsubscribe
      We are begging now. Please. Have we shown you us as children yet? Here:
    .10-image.images-unsubscribe
      What do you want from us? Sex, reading buddies for those lazy Sundays where the sun is just peaking out your window, or pies? Who doesn't like pies?! Here is a pie.
    .11-image.images-unsubscribe
      Yeah fuck you. You don't deserve a real pie. You are fucking monster.
    .12-image.images-unsubscribe
      I didn't mean that. I am sorry. You just probably don't like emails. You are all about time efficency. We get that. YOu like to get a job done quick and fast. So do we. I guess we have a lot in common, us and you. I mean, we would probably be great friends. I am sorry for all that stuff I pulled back there, with the slander and dreams. I mean, we're both just average guys, trying to have a few good laughs before we die. YOu know, that final end, which we all kind know is coming but are trying to avoid. I mean, I guess I am just saying is I am afraid of it all, you know, what is coming and what isn't. I guess I just wanted that subscription to enver end, for us to become friends, virtually and trhough comedy. I mean people can change right? Change often makes me thing about this poem I read by Keats once, I really enjoyed it, maybe you will too: 
      %pre
        Where are the songs of Spring? Ay, where are they? 
        Think not of them, thou hast thy music too,--
        While barred clouds bloom the soft-dying day, 
        And touch the stubble-plains with rosy hue;
        Then in a wailful choir the small gnats mourn 
        Among the river sallows, borne aloft
        Or sinking as the light wind lives or dies; 
        And full-grown lambs loud bleat from hilly bourn; 
        Hedge-crickets sing; and now with treble soft
        The redbreast whistles from a garden-croft, 
        And gathering swallows twitter in the skies.
    .13-image.images-unsubscribe
      Fuck you man.
    .14-image.images-unsubscribe
      Seriously, you are the lowest kind of scum on earth. You are so scummy that your dad doesn't even love you.
    .15-image.images-unsubscribe
      I am sorry. I lost my cool. That was not cool. We are better than that. You are better than that. In fact you are the best. THe very best! Our favourite subscriber!
    .16-image.images-unsubscribe
      You son of a bitch. There is no unsubscribe!
      -# switch cancel and subscribe buttons, text and colour.
    .17-image.confirm-unsubscribe.images-unsubscribe
      - @subscriber = params[:subscriber_id]
      = button_to 'Fine. Shit wo/man. Ruin our lives.', unsubscribe_confirm_path(@subscriber)
    .row
      .large-6.small-6.columns
        .next-image
          %button.button.radius.success NEXT
      .large-6.small-6.columns
        .cancel
          = link_to "CANCEL", root_url, class: 'button radius alert'