.wrapper .alloutput {
	width: 780px;
	margin: auto;
}

.wrapper .alloutput .allresults {
	width: 100%;
}

.wrapper .alloutput .resulttable {
	width: 100%;

}

.wrapper .alloutput .resulttable td th {
	padding-bottom: 5px;
	padding-top: 5px;
}