/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
 */

 .allDayResults,
 .buttonAllDay,
 .btnTry {
  display: none;
 }

 .bottomBtns {
  text-align: center;
 }

 .bottomBtns .buttonAllDay,
 .bottomBtns .btnTry {
  border: none;
  background-color: rgba(255,255,255,0.21);
  border-radius: 6px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.7em;
  color: white;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
 }