
#lightbox {
	margin: auto;
	background-color: lightgrey;
	border-radius: 6px;
	width: 500px;
	height: 400px;
	z-index: 99;
	text-align: center;
}

#overlay {
	width: 100%;
	height: 100%;
	background-color: blue;
	z-index: 1000;
}

.container {
	position: fixed;
	margin: 0;
	padding: 0;
	height: 105%;
	width: 100%;
	background: url("coast.jpg") no-repeat;
	background-attachment: fixed;
}

/*.container .permahover {
	background: url("coast.jpg") no-repeat;
		transition: 10s ease-in-out;
	background-attachment: fixed;
}*/

.container .topnav1 {
	position: fixed;
	left: 0;
	top: -45px;
	height: 75px;
	width: 75%;
	background-color: rgba(255,255,255,0.1);
	display: block;
	-webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px rgba(50, 50, 50, 0.75);
}

.container .topnav1 .profilethumb1 {
	margin-top: 2%;
	margin-left: 2%;
	display: none;
}

.container .topnav1 .profilethumb1 a {
	width: auto;
	color: white;
	font-family: 'Roboto';
	font-weight: 300;
	text-decoration: none;
	opacity: 0.6;
}

.container .topnav1 .profilethumb1 a:hover {
	opacity: 0.8;
		transition: 0.5s ease-in-out;
}

.container .container1 {
	width: 75%;
	height: 100%;
	margin-top: 5%;
	float: left;
	display: inline-block;
	opacity: 0.8;
}

.container .container1 .welcome {
	text-align: center;
	margin-top: -12%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2em;
	display: none;
	opacity: 0.7;
}

.container .container1 .time {
	text-align: center;
	margin-top: 5%;
	font-family: 'NotoSans', sans-serif;
	font-size: 12em;
	display: none;
	opacity: 0.7;
}

.container .container1 .profilepic {
	height: auto;
	width: auto;
	margin-top: 10px;
	text-align: center;
	display: none;
}

.container .container1 .profilepic .fbimg {
	height: 4.5em;
	width: 4.5em;
	margin-top: 10px;
	text-align: center;
	border-radius: 100%;
	border: 2px solid white;
	display: none;
}

.container .container1 .appbutton {
	width: 150px;
	height: 50px;
	position: relative;
	margin-top: 4%;
	left: 43%;
	border-radius: 6px;
	background-color: rgba(102, 210, 1, 0.5);
	border: none;
	outline: 0;
	font-family: Roboto, Helvetica;
	font-size: 1.2em;
	font-weight: 300;
	display: none;
}

.container .container1 .appbutton:hover {
	background-color: rgba(102, 210, 1, 0.6);
  	transition: .5s ease-in-out;
}

.container .container1 .appbutton a {
	text-decoration: none;
	color: white;
}

.container .recommend {
	float: right;
	top: 0;
	opacity: 0.7;
	width: 17%;
	height: 100%;
	margin-top: -2%;
	background-color: rgba(255,255,255,0.1);
	display: inline-block;
	-webkit-box-shadow: -2px 0px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -2px 0px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         -2px 0px 5px rgba(50, 50, 50, 0.75);
}

.container .recommend .rightfade {
	float: right;
	top: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	display: none;
}

.container .recommend .rightfade .recommendmsg {
	font-family: 'Roboto';
	font-weight: 300;
	margin-top: 30%;
	font-size: 1.5em;
	text-align: center;
	line-height: auto;
	opacity: 0.7;
}

.container .recommend .rightfade .recommendations {
	height: auto;
	margin-top: 10%;
	text-align: center;
}

.container .recommend .rightfade .friendmsg {
	margin-top: 15%;
	text-align: center;
	width: 100%;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 1.5em;
	opacity: 0.8;
}

.container .recommend .rightfade .friendoutput {
	height: auto;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 1.2em;
	opacity: 0.8;
}

.container .recommend .rightfade .friendoutput .picandname {
	width: 75%;
	height: auto;
}

.container .recommend .rightfade .friendoutput .picandname .imgfb {
	width: 50%;
	height: auto;
	float: left;
}

.container .recommend .rightfade .friendoutput .picandname .imgfb img {
	border-radius: 100%;
	border: 2px solid white;
	margin-left: 25%;
}

.container .recommend .rightfade .friendoutput .picandname .namefb {
	width: 50%;
	margin-top: 5%;
	height: auto;
	float: right;
}

.container .recommend .rightfade .friendoutput .rover {
	clear: left;
	margin-left: 10%;
}

.container .recommend .rightfade .friendoutput .rover #info {
	display: none;
}

#soonevents {
	font-size: 1.2em;
	position: absolute;
	left: 200px;
	top: 600px;
}


