
.recommendations .reco {
  margin-top: 10%;
  margin-left: 5%;
  max-width: 90%;
  height: 10%;
  text-align: left;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.5em;
  opacity: 0.7;
}

.recommendations .reco .eventname td {
  text-align: left;
  width: 20%;
}

.recommendations .reco .greenscore {
  color: lightgreen;
  text-align: right;
}

