.wrapper .output {
	height: auto;
	width: 60%;
	font-size: 2em;
	margin-left: 20%;
}

.wrapper .output .result {
	height: auto;
	padding: 2%;

	font-family: "Roboto", sans-serif;
}

.wrapper .output .result .eachresult {
	margin-bottom: 1%;
	overflow: hidden;
	/*border: 2px solid white;*/

	border-radius: 6px;
	/*padding: 1em;
	margin-bottom: 5px;*/
	background-color: rgba(255,255,255,0.31);
}

.wrapper .output .result .eachresult .textoutput {
	width: 55%;
	height: auto;
	float: left;
	padding: 2.5%;
	/*width: 725px;
	height: 200px;*/

}

.wrapper .output .result .eachresult .mapdiv {
	width: 33%;
	padding: 2.5%;
	height: 100%;
	float: right;
}

.wrapper .output .result .eachresult .mapdiv .map {
	width: 100% !important;
	height: 200px;
}

.wrapper .output .result .eachresult .textoutput .name a {
	font-size: .9em;
	text-decoration: none;
	color: white;
}

.wrapper .output .result .eachresult .textoutput .name a:hover {
	font-size: .9em;
	text-decoration: underline;
}

.wrapper .output .result .eachresult .textoutput .location,
.wrapper .output .result .eachresult .textoutput .time,
.wrapper .output .result .eachresult .textoutput .matchscore {
	margin-left: 1.1em;
	font-size: .7em;
	font-weight: 100;
}

.wrapper .output .result .eachresult .textoutput .matchscore .score {
	color: green;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}
