/*  Animations
------------------------------------------ */

#sub-hover:hover {
  -webkit-animation: rock 4s 2s infinite;
  animation: rock 4s 2s infinite;
}

.sub-stuff {
  width: 100%;
  display: inline;
}

.icons {
  position: relative;
  left: -2%;
}

.midCloud {
  display: none;
  /*display: block !important;*/
  position: relative;
  left: 10%;
  top: -72px;
}

.midCloud {
  -webkit-transform: matrix(0.125, 0, 0, 0.125, 0, 0);
      -ms-transform: matrix(0.125, 0, 0, 0.125, 0, 0);
      -moz-transform: matrix(0.125, 0, 0, 0.125, 0, 0);
          transform: matrix(0.125, 0, 0, 0.125, 0, 0);
  -webkit-animation: steam 4s 2s infinite;
  -ms-animation: steam 4s 2s infinite;
  -moz-animation: steam 4s 2s infinite;
  animation: steam 4s 2s infinite;
  width: 9% !important;
}

.bigCloud {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
      -ms-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
      -moz-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
          transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  -webkit-animation: steam-delay-second 4s 2s infinite;
}

/*  Keyframes - WebKit only
------------------------------------------ */
/*NTD: Update animation keyframes*/

@-webkit-keyframes steam {
  100% { 
    -webkit-transform: translate(-15%, -35%) rotateZ(20deg);
    -ms-transform: translate(-15%, -35%) rotateZ(20deg); 
    -moz-transform: translate(-15%, -35%) rotateZ(20deg); 
    transform: translate(-15%, -35%) rotateZ(20deg);
  }
}

@-webkit-keyframes rock {
  50%  { -webkit-transform: rotate(-5deg) translateY(-10px); }
}

@keyframes rock {
  50%  { ransform: rotate(-5deg) translateY(-10px); }
}