.icons {
  margin: auto;
}

.icon-text {
  text-align: center;
}

.icons img {
  width: 10%;    
}

.comic-img.shift-left {
  left: 20%;
}

.comic-img {
  margin: 10px 0;
}

@font-face {
  font-family: 'Acki-Preschool';    
  src: url('/assets/Acki-Preschool.eot');
  src: url('/assets/Acki-Preschool.eot') format('eot'),
  url('/assets/Acki-Preschool.woff') format('woff'),
  url('/assets/Acki-Preschool.ttf') format('truetype'),
  url('/assets/Acki-Preschool.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tomhand';    
  src: url('/assets/tomhand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.product-image-modal {
  width: 60%;
  float: left;
}

.product-details-modal {
  font-family: 'tomhand' !important;
  width: 39%;
  float: left;
  top: 45px;
  position: relative;
}

.hidden-dets, .add-to-cart {
  font-family: 'tomhand' !important;
  font-weight: 100;
}

.add-to-cart-container {
  background-image: url(/assets/outline_t.png);
  background-size: cover;
  height: 62px;
  width: 125px;
  margin: auto;
  margin-bottom: 25px;

  .modal-cart {
    position: relative;
    top: 15px;
  }
}

#checkout:hover,
#customButton:hover {
  background-image: url(/assets/outline_t.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px 15px 15px 15px;
}

#customButton {
  background-color: white;
  border-color: black;
  font-size: 2rem;
}

#customButton:hover {
  color: black;
}

.external-store {
  width: 150px;
  height: 75px;
  bottom: 1%;
  left: 90%;
  position: fixed;
  background-image: url(/assets/outline_t.png);
  background-size: cover;
  text-align: center;
  transform: rotate(-35deg);
}

.store-notice {
  top: 20px;
  position: relative;
}

.links-nav {
  margin-left: 0;
  padding-left: 0;

  .large-3.small-3 {
    padding-left: 0;
    padding-right: 10px;
  }
}

.large-8.small-8 {
  img {
    width: 100%;
  }
}

.header {
  margin-top: 20px;
  /*height: 22%;*/

  .header-image {
    width: 100%;
    height: 10%;
    margin-bottom: 6px !important;
  }
}

.header-img {
  width: 100% !important;
  max-width: 100%;
  height: 10%;
  margin-bottom: 6px !important;
}

.fishing-icons {
  flex-direction: column;
}

.fish-line {
  width: 40% !important;
}

.fish-text {
  margin: 0;
  padding: 0;
  font-family: 'tomhand' !important;
  font-weight: 900; 
  margin-bottom: 20px;
}

.fishing {
  position: relative;
  left: -20px;
}

.linky-link:last-of-type {
  float: left !important;
}

body {
  background: #8FBC8F;
  height: 100%;
  webkit-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

h5, h2 {
  font-family: 'tomhand' !important;
  font-size: 2em;
  font-weight: 900;
}

h3 {
  font-family: 'tomhand' !important;
  font-weight: 900;
}

.contact-holder {
  font-family: 'tomhand' !important;
  font-size: 1.15em;
  font-weight: 900;
  margin-top: 10px;
  text-align: center;
}

h2 {
  font-size: 3em;
}

.past {
  padding-left: 30px;
}

a, button, input.button {
  color: black;
  font-family: 'tomhand' !important;
  font-size: 1em;
  font-weight: 900;
}

p.disclaimer {
  font-family: 'tomhand' !important;
  font-size: 10px;
  font-weight: 900;
  margin-top: 20px;
}

.disclaimer-text {
  text-align: center;
}

.soon-clouds {
  -webkit-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -moz-transition: all 2s ease;
          transition: all 2s ease;
  margin-top: 40px;
}

.twitter-stuff {
  width: 15%;
  padding: 0;
  margin: 0;
  display: inline-block;
}

img.twitter-icon {
  width: 100% !important;
}

body {
  overflow-x: hidden;
  margin: 0;
}

#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

body.clouds {
  background: #00b4ff;
}

input.button {
  color: white;
}

.images-unsubscribe {
  display: none;
  font-size: 1.7em;
  font-family: 'tomhand';
  text-align: center;
}

.icons-subscribe {
  padding-top: 15px;
  text-align: center;
}

.images-unsubscribe:first-of-type {
  display: block;
}

.hovered {
  width: 150px;
  position: relative;
  left: -125px;
  display: none;
}

li.nav a,
li.nav {
  -webkit-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -moz-transition: all 1s ease;
          transition: all 1s ease;
}

li.nav {
  text-align: center;
}

li.nav a {
  font-family: 'Acki-Preschool' !important;
  margin-right: 7px;
  font-size: 2.7em;
  /*position: relative;
  left: -30px;*/
  padding: 0px;
}

li.nav {
  padding: 0px;
  margin: 0;
}

@media only screen and (max-width: 906px) {
  li.nav a {
    font-size: 2.0em;
  }

  .external-store {
    left: 85%;
  }
}

@media only screen and (max-width: 720px) {
  li.nav a {
    font-size: 1.5em;
  }

  .external-store {
    left: 80%;
  }

  .fish-text {
    margin-bottom: 15px;
  }

  .product-image-modal {
    width: 100%;
    float: left;
  }

  .product-details-modal {
    width: 100%;
    float: left;
  }

  .add-to-cart-container {

    margin-bottom: 25px;
  }

  .container.header {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  .header {
    /*height: 20%;*/
  }
} 

@media only screen and (max-width: 593px) {
  .external-store {
    left: 70%;
  }

  li.nav.first {
    margin-left: 10px;
  }

  li.nav a {
    font-size: 1.25em;
  }
} 

@media only screen and (max-width: 450px) {
  .buttons {
    width: 60%;
  }

  .external-store {
    left: 68%;
  }

  .logo {
    width: 40%;
  }

  li.nav.first {
    margin-left: 0px;
  }

  li.nav a {
    font-size: 1.10em;
  }

  p.fish-text {
    font-size: 0.5rem !important;
  }
}

.box {
  margin: 50px auto;
  width:400px;
  height:400px;
  text-align: center
}

.box, .box-non {
  width: 56%;
  height: 100%;
  position: absolute;
  left: 37px;
  color: red;
  font-size: 40px;
  z-index: 10;
  display: none;
  top: -192px;
}

.box-non {
  top: 0;
  display: block;
  position: relative;
  width: 90%;
}

.base-cont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

input[type="email"].subscriber-email {
  appearance: none;
  width:300px;
  height:70px;
  font-size:1em;
  background:transparent;
  border:none;
  border-bottom:solid 4px #e6e8eb;
  text-align:center;
  -webkit-transition: border-color 0.6s ease;
  -ms-transition: border-color 0.6s ease;
  -moz-transition: border-color 0.6s ease;
          transition: border-color 0.6s ease;
}

.entitled .title-class {
  margin-left: 150px;
  font-family: 'tomhand' !important;
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 20px;
}

.desc-button {
  font-family: 'tomhand' !important;
  font-size: 1em;
}

.header-icons {
  position: relative;
  left: -4%;
}

.logo-bad {
  position: relative;
  left: -1%;
}

.smaller-image-admin {
  height: 150px;
}

.border-admin {
  border: 1px solid black;
}

::-webkit-input-placeholder {
   color: #464c4c;
   -webkit-transition: color 0.3s ease;
   -ms-transition: color 0.3s ease;
   -moz-transition: color 0.3s ease;
           transition: color 0.3s ease;
}

:focus::-webkit-input-placeholder {
   color: transparent;
   -webkit-transition: color 0.3s ease;
   -ms-transition: color 0.3s ease;
   -moz-transition: color 0.3s ease;
           transition: color 0.3s ease;
}


input[type="email"]:focus {
  outline:none;
  border:none;
  border-bottom:solid 4px #00AEEF;
  -webkit-transition: border-color 1s ease;
  -ms-transition: border-color 1s ease;
  -moz-transition: border-color 1s ease;
          transition: border-color 1s ease;
}

@media only screen and (max-width: 830px) {
  .box {
    left: 30px !important;
    top: -170px !important;
    height: 75%;
    width: 45%;
  }

  input[type="submit"] {
    width: 275px !important;
    margin: 0 !important;
    font-size: 0.7em !important;
    height: 35px !important;
  }

  .box input[type="email"] {
    width: 275px !important;
    font-size: 0.7em;
    height: 75%;
  }
} 

@media only screen and (max-width: 656px) {
  .icons .submarine-hidden {
    width: 11% !important;
  }

  img.facebook-icon, img.back, img.twitter-icon {
    width: 70% !important;
  }

  .icons .contact-guy {
    width: 7% !important;
  }

  .box {
    height: 50% !important;
    top: -140px !important;
  }

  img.twitter-icon, 
  .contact-guy {
    position: relative;
    left: -21px;
  }

  input[type="submit"] {
    width: 235px !important;
    margin: 0 !important;
    font-size: 0.5em !important;
    height: 27px !important;
  }
}

@media only screen and (max-width: 593px) {
  .box {
    left: 10px !important;
    top: -70px !important;
    height: 50%;
    margin: 0 !important;
  }

  .fish-text {
    margin-bottom: 0px;
  }

  input[type="submit"] {
    width: 125px !important;
    margin: 0 !important;
    font-size: 0.2em !important;
    height: 25px !important;
  }

  .box input[type="email"] {
    width: 125px !important;
    font-size: 0.3em;
    height: 50%;
    padding: 0;
    margin: 0;
    margin-top: 22px;
  }
} 

input[type="submit"] {
  appearance: none;
  width: 75%;
  height:50px;
  font-size: 0.80em;
  background:transparent;
  color: #097054;
  border:none;
  text-align:center;
  letter-spacing:0.15em;
  text-transform:uppercase;
  -webkit-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
          transition: color 0.5s ease;
  outline:none;
  border:none;
  padding-bottom: 30px;
  left: 14%;
}


input[type="submit"].success {
  font-size: 16px;
  font-size: 1rem;
}

.hidden-first {
  display: none;
}

input[type="submit"]:hover {
  color: #7CB774;
  cursor:pointer;
  -webkit-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
          transition: color 0.5s ease;
}

.icons img {
  width: 12%;
}

.icons img.submarine-hidden {
/*  visibility: hidden;*/
/*  margin-right: 11.5em;*/
  width: 15%;
}

.icons img.submarine-hidden:hover {
  cursor: pointer;
}

.icons {
  position: relative;
  -webkit-transition: left 1s ease;
  -ms-transition: left 1s ease;
  -moz-transition: left 1s ease;
          transition: left 1s ease;
}

.container {
  border: 1px solid white;
  background: white;
  border-radius: 28px;
  padding-top: 2px;
  padding-bottom: 10px;

  .comic-img {
    height: auto;
  }
}

.large-12.small-12.extended {
  width: 130%;
  position: relative;
  left: -15%;
}

.comic-vert {
  -webkit-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -moz-transition: all 2s ease;
          transition: all 2s ease;
}


.arrow-vert {
  visibility: hidden !important;
}

li {
  list-style-type: none;
}

.last-social {
  float: left !important;
}

.non-centered-header {
  position: relative;
  left: 16%;
}

/*.comic-vert {
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/

.arrow-nav-dif, .arrow-nav {
  width: 8.33%;
  display: inline-block;
}

.left-nav {
  float: left;
}

.right-nav {
  float: right;
}

.welcome.center {
  margin: auto;
  text-align: center;
}

.contact-guy {
  height: 75%;
  width: 9.5% !important;
  margin-left: 10px;
}

.contact-guy.header-guy {
  width: 60.5% !important;
}

.shift-right {
  position: relative;
  display: inline-block;
  left: 5px;
}

.shift-left {
  position: relative;
  left: -5px;
  display: inline-block;
}

.hidden {
  display: none;
}

.disable-please:click {
  disabled: disabled;
}

.nav-social {
  -webkit-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -moz-transition: all 2s ease;
          transition: all 2s ease;        
}

.nav-social:hover {

  -ms-transform: rotate(-360deg); /* IE 9 */
    -webkit-transform: rotate(-360deg); /* Safari */
    transform: rotate(-360deg);
}

.first-link {
  margin-left: 20px !important;
}

#spinner {
  display: none;
  text-align: center;
  margin: auto;
}

#img-shown {
  visibility: hidden !important;
}

.striking {
  text-decoration: line-through;
}

#rotate-pie {
  -webkit-animation: rotation 2s infinite linear;
  width: 50%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.share-center {
  text-align: center;
}

.contact-form {
  padding-left: 10px;
}

.comments {
  text-align: center;
  margin: 0 auto; 

  .dis-comments {
    position: relative;
    left: 16%;
    margin-top: 10px;
  }
}

p.share-txt {
  margin: 0;
  padding: 0;
}

#no-posts {
  display: none !important;
}

div.modal-image-small {
  width: 65px !important;
  display: inline-block;
}

.modal-image-small:hover {
  cursor: pointer;
}