// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
  font-family: 'Comfortaa';
  src: font-url('Comfortaa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
	margin:0;
	margin-top: -16px;
	padding:0;
	background: image-url("toronto_skyline.jpg") no-repeat;
	background-height: 100%;
	color: white;
	font-family: Comfortaa;
}

.wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.wrapper .topnav {
	position: fixed;
	left: 0;
	top: -45px;
	height: 75px;
	width: 100%;
	background-color: rgba(255,255,255,0.21);
	display: block;
	box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
}

.wrapper .topnav #profilethumb {
	float: right;
	/*position: inline;*/
	height: 100%;
	width: 200px;
	/*border-left: solid rgba(255,255,255,0.11) 1px;*/
	display: block;
	overflow: hidden;
}

.wrapper .topnav #logo {
	float: left;
	height: 100%;
	width: 400px;
	position: absolute;
	/*border-right: solid rgba(255,255,255,0.11) 1px;*/
	display: block;
}

.wrapper .topnav #logo p {
	margin-top: 20px;
	font-size: 2em;
	display: inline-block;
	margin-left: 30px;
}

.wrapper .topspace {
	height: 120px;
	width: 100%;
}

.wrapper .question {
	height: 70px;
	width: 100%;
	margin-bottom: 20px;
}

.wrapper .question p {
	text-align: center;
	font-size: 2em;
}

.wrapper .categories,
.wrapper .categories1,
.wrapper .price {
	height: 320px;
	width: 780px;
	position: relative;
	margin: auto;
	display: block;
}

.wrapper .categories .categorybox,
.wrapper .categories1 .categorybox,
.wrapper .price .categorybox {
	height: 146px;
	width: 236px;
	vertical-align: top;
	margin-right: 5px;
	margin-bottom: 10px;
	display: inline-block;
	border: white solid 2px;
	background-color: rgba(255,255,255,0.31);
	border-radius: 6px;
	font-family: Comfortaa; 
	font-size: 1.7em;
	color: white;
	
	box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
}

.wrapper .categories button,
.wrapper .categories1 button,
.wrapper .price button {
	background-color: rgba(255,255,255,0.45);
	outline: 0;
	font-family: Comfortaa; 
	font-size: 1.7em;
	color: white;
	-o-transition: .8s;
  	-ms-transition: .8s;
  	-moz-transition: .8s;
  	-webkit-transition: .8s;
  	transition: .8s;

}

.wrapper .categories button:hover,
.wrapper .categories1 button:hover,
.wrapper .price button:hover {
	background-color: rgba(255,255,255,0.45);
	-o-transition: .8s;
  	-ms-transition: .8s;
  	-moz-transition: .8s;
  	-webkit-transition: .8s;
  	transition: .8s;
}

/*.wrapper .categories .categorybox p {
	display: inline-block;
}*/

.wrapper .bottom {
	text-align: center;
	margin-top: 40px;
	left: -8px;
}
.wrapper .bottom p {
	font-size: 1.5em;
}
