// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*@font-face {
  font-family: 'Comfortaa';
  src: font-url('Comfortaa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: 'Roboto';
  src: font-url('Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Robotothin';
  src: font-url('Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.wrapper .question2 .back1,
.wrapper .question3 .back2 {
	right: -100px;
	border: 2px solid white;
	background-color: rgba(255,255,255,0.45);
	border-radius: 6px;
	width: 200px;
	height: 50px;
	float: left;
	margin-left: 20px;
	margin-top: 6px;
	font-family: Robotothin, Helvetica;
	font-size: 2em;
}

body {
	margin:0;
	margin-top: -16px;
	padding:0;
	background: image-url("toronto_skyline.jpg");
	opacity: 0.8;
	/*background-height: 100%;*/
	color: white;
	font-family: Robotothin;
}

.wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.wrapper .topnav {
	position: fixed;
	left: 0;
	top: -45px;
	height: 75px;
	width: 100%;
	background-color: rgba(255,255,255,0.21);
	display: block;
	box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
}

.wrapper .topnav #profilethumb {
	float: right;
	/*position: inline;*/
	height: 100%;
	width: 200px;
	/*border-left: solid rgba(255,255,255,0.11) 1px;*/
	display: block;
	overflow: hidden;
}

.wrapper .topnav #logo {
	float: left;
	height: 100%;
	width: 400px;
	position: absolute;
	/*border-right: solid rgba(255,255,255,0.11) 1px;*/
	display: block;
}

.wrapper .topnav #logo p {
	margin-top: 20px;
	font-size: 2em;
	display: inline-block;
	margin-left: 30px;
}

.wrapper .topspace {
	height: 90px;
	width: 100%;
}

.wrapper .question,
.wrapper .question2,
.wrapper .question3,
.wrapper .question4 {
	height: 60px;
	width: 100%;
	margin-bottom: 40px;
	font-family: Roboto;
}

.wrapper .question p,
.wrapper .question2 p,
.wrapper .question3 p,
.wrapper .question4 p  {
	text-align: center;
	font-size: 3em;
}

.wrapper .categories,
.wrapper .categories1,
.wrapper .price {
	height: 320px;
	width: 780px;
	position: relative;
	margin: auto;
	display: block;
}

.wrapper .categories .categorybox,
.wrapper .categories1 .categorybox1,
.wrapper .price .categorybox2 {
	height: 146px;
	width: 236px;
	vertical-align: top;
	margin-right: 5px;
	margin-bottom: 10px;
	display: inline-block;
	border: white solid 2px;
	background-color: rgba(255,255,255,0.31);
	border-radius: 6px;
	font-family: Robotothin; 
	font-size: 1.7em;
	color: white;
	
	box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
}

.wrapper .categories button,
.wrapper .categories1 button,
.wrapper .price button {
	background-color: rgba(255,255,255,0.45);
	outline: 0;
	font-family: Robotothin; 
	font-size: 1.7em;
	color: white;
	-o-transition: .8s;
  	-ms-transition: .8s;
  	-moz-transition: .8s;
  	-webkit-transition: .8s;
  	transition: .8s;
}

.wrapper .categories button:hover,
.wrapper .categories1 button:hover,
.wrapper .price button:hover {
	background-color: rgba(255,255,255,0.45);
	-o-transition: .8s;
  	-ms-transition: .8s;
  	-moz-transition: .8s;
  	-webkit-transition: .8s;
  	transition: .8s;
}

.wrapper .output1 {
	width: 400px;
	height: 75px;
	margin: auto;
	margin-top: 1em;
}

.wrapper .output1 #all,
.wrapper .output1 #try {
	width: 150px;
	height: 50px;
	border-radius: 6px;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	outline: 0;
	color: white;
	font-family: Robotothin, Helvetica;
	font-size: 1.2em;
}

.wrapper .output1 #all button,
.wrapper .output1 #try button {
	margin: auto;
}

.wrapper #blackness {
	background-color: rgba(255,255,255,0.5);
	width: 110%;
	height: 110%;
	top: 100px;
	left: 30px;
	position: absolute;
	z-index: 100;
}

.wrapper .bottom {
	text-align: center;
	margin-top: 40px;
	left: -8px;
}
.wrapper .bottom p {
	font-size: 1.5em;
}
