// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
  font-family: 'Comfortaa';
  src: font-url('Comfortaa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: font-url('Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Robotothin';
  src: font-url('Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body.home {
	margin: 0;
	/*margin-top: -16px;*/
	padding:0;
	/*background-height: 100%;*/
  min-height: 100%;
  width: 100%;
	color: white;
	background: #0074D9;
}

.wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.wrapper .topnav {
	position: fixed;
	left: 0;
	top: -45px;
	height: 75px;
	width: 100%;
	background-color: rgba(255,255,255,0.1);
	display: block;
	box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
}

.wrapper .topnav #profilethumb {
	float: right;
	margin-right: 2%;
	/*position: inline;*/
	height: 100%;
	width: 15%;
	/*border-left: solid rgba(255,255,255,0.11) 1px;*/
	display: block;
	overflow: hidden;
	text-align: right;
}

.wrapper .topnav #profilethumb  {
	width: auto;
}

.wrapper .topnav #profilethumb a {
	text-decoration: none;
	font-family: 'Roboto';
	font-weight: 300;
	line-height: 70px;
	color: white;
	opacity: 0.6;
}

.wrapper .topnav #profilethumb a:hover {
	opacity: 0.8;
		transition: 0.5s ease-in-out;
}

.wrapper .topnav #logo {
	float: left;
	height: 100%;
	width: 400px;
	position: absolute;
	/*border-right: solid rgba(255,255,255,0.11) 1px;*/
	display: block;
}

.wrapper .topnav #logo a {
	margin-left: 7%;
	width: auto;
	color: white;
	font-family: 'Roboto';
	font-weight: 300;
	text-decoration: none;
	line-height: 70px;
	opacity: 0.6;
}

.wrapper .topnav #logo a:hover {
	opacity: 0.8;
		transition: 0.5s ease-in-out;
}

.wrapper .topspace {
	height: 90px;
	width: 100%;
}

.wrapper .question,
.wrapper .question2,
.wrapper .question3,
.wrapper .question4 {
	height: auto;
	padding: 0;
	width: 75%;
	margin-bottom: 1%;
	margin-top: 1%;
	font-family: Roboto;
	float: left;
	display: none;

	margin-left: 8%;
	font-size: 3em;
	line-height: 1em;
}

.wrapper .back {
	/*display: none;*/
	margin-top: 1%;
	width: 13%;
	float: left;
	height: 144px;
}

.wrapper .back .bhome,
.wrapper .back .b2feeling,
.wrapper .back .bk2category {
	display: none;
	float: right;
	margin-top: 54px;
	font-size: 2.5em;
	background-color: transparent;
	/*background-color: rgba(255,255,255,0.25);*/
  		transition: .5s;
	border-radius: 6px;
	line-height: 40px;
	width: 45px;
	/*text-align: center;*/
	border: none;
	color: white;
	font-family: "Roboto";
	outline: 0;
  font-family: FontAwesome;
}

.wrapper .back input[type=submit]:hover,
.wrapper .back input[type=button]:hover,
.wrapper .back input[type=button]:hover {
	background-color: rgba(255,255,255,0.2);
  		transition: .5s;

	box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
}

.wrapper .clear {
	clear: both;
}

/* hiding before page load so there isn't a white flash */

.wrapper .categories,
.wrapper .categories1,
.wrapper .price,
.wrapper .output,
.wrapper .output1,
.wrapper #blackness {
	display: none;
}

/* Refer above */

.wrapper .categories,
.wrapper .categories1,
.wrapper .price {
	height: 320px;
	width: 780px;
	position: relative;
	margin: auto;
	/*display: block;*/
}

.wrapper .categories .categorybox,
.wrapper .categories1 .categorybox1,
.wrapper .price .categorybox2, 
.wrapper .mainOptions .selectOpts {
	height: 146px;
	width: 236px;
	vertical-align: top;
	margin-right: 5px;
	margin-bottom: 10px;
	/*display: inline-block;*/
	border: none;
	background-color: rgba(255,255,255,0.21);
	border-radius: 6px;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 1.7em;
	color: white;

	box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);

}

.wrapper .mainOptions {
  width: 100%;
  position: relative;
  display:none;
  top: 150px;
  .selectOpts {
    max-width: 20vw;
    width: 23vw;
    position: relative;
    left: -35px;
  }
}

.wrapper .categories button,
.wrapper .categories1 button,
.wrapper .price button {
	background-color: rgba(255,255,255,0.45);
	-o-transition: .8s;
  	-ms-transition: .8s;
  	-moz-transition: .8s;
  	-webkit-transition: .8s;
  	transition: .8s;
	outline: 0;
	font-family: Robotothin;
	font-size: 1.7em;
	color: white;

	box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);

}

.wrapper .categories button:hover,
.wrapper .categories1 button:hover,
.wrapper .price button:hover {
	background-color: rgba(255,255,255,0.45);
	-o-transition: .8s;
  	-ms-transition: .8s;
  	-moz-transition: .8s;
  	-webkit-transition: .8s;
  	transition: .8s;

}

@media screen and (max-width: 800px) {
  .categories {
    width: 100% !important;
  }

  .container-back {
    width: 90% !important;
  }

  .categories1, .price {
    width: 90% !important;
    margin-left: 40px !important;
  }
}

.wrapper .output1 {
	width: 400px;
	height: 75px;
	margin: auto;
	margin-top: 1em;
}

.wrapper .output1 #all,
.wrapper .output1 #try {
	width: 150px;
	height: 50px;
	border-radius: 6px;
	background-color: rgba(255,255,255,0.35);
	text-align: center;
	outline: 0;
	color: white;
	font-family: "Roboto", Helvetica;
	font-size: 1.2em;
}

.wrapper .output1 #all button,
.wrapper .output1 #try button {
	margin: auto;
	font-weight: 300;
}

.wrapper .buttons {
	display: none;
}

.wrapper .blackness {
	width: 100%;
	height: 100%;
	top: 300px;
	/*left: 30px;*/
	position: absolute;
	margin-left: 10%;
	z-index: 100;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 3em;
	display: none;
}

.wrapper #foo {
	display: none;
	left: 900px;
	position: absolute;
	top: 370px;
}

.wrapper #buttonsdir {
	visibility: hidden;
	position: absolute;
	left: 100px;
	top: 100px;
	border: 5px solid black;
}

button.dir {
	border: 5px solid black;
}

div.info {
	border: 5px solid black;

}

.buttons {
	margin: auto;
	position: relative;
}

#center {
	left: 900px;
	width: 1000px;
	height: 75px;
	margin: auto;
	margin-top: 1em;
}

#price,
#time,
#dist,
#ourrank,
.dir {
	left: 600px;
	width: 150px;
	height: 50px;
	border-radius: 6px;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	outline: 0;
	color: white;
	font-family: Robotothin, Helvetica;
	font-size: 1.2em;
}

#price:hover,
#time:hover,
#dist:hover,
#ourrank:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.wrapper #center #buttonsdir {
	left: 600px;
	width: 75px;
	height: 50px;
	border-radius: 6px;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	outline: 0;
	color: white;
	font-family: Robotothin, Helvetica;
	font-size: 1.2em;
}

.ui-datepicker {
	width: 80%;  
  height: auto;  
  margin: 5px auto 0;  
  font: 9pt Arial, sans-serif;  
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
  /*background-color: rgba(255,255,255,0.1);
	display: block;
	box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	-webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);*/

  a {
  	text-decoration: none;
  }

  table {
  	width: 100%;
  }

  .ui-datepicker-header {  
    /*background: url('../img/dark_leather.png') repeat 0 0 #000; */ 
    color: #e0e0e0;  
    font-weight: bold;  
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);  
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);  
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);  
    text-shadow: 1px -1px 0px #000;  
    filter: dropshadow(color=#000, offx=1, offy=-1);  
    line-height: 30px;  
    border-width: 1px 0 0 0;  
    border-style: solid;  
    border-color: #111;  
	}

	.ui-datepicker-title {  
    text-align: center;  
	} 

	/*.ui-datepicker-prev, .ui-datepicker-next {  
    display: inline-block;  
    width: 30px;  
    height: 30px;  
    text-align: center;  
    cursor: pointer;  
    background-image: url('../img/arrow.png');  
    background-repeat: no-repeat;  
    line-height: 600%;  
    overflow: hidden;  
	} */ 

	.ui-datepicker-prev {  
    float: left;  
    background-position: center -30px;  
	}

	.ui-datepicker-next {  
	    float: rightright;  
	    background-position: center 0px;  
	} 

	.ui-datepicker thead {  
    background-color: #f7f7f7;  
    background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);  
    background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));  
    background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );  
    border-bottom: 1px solid #bbb;  
	}

	th { 
	  text-transform: uppercase;  
	  font-size: 6pt;  
	  padding: 5px 0;  
	  color: #666666;  
	  text-shadow: 1px 0px 0px #fff;  
	  filter: dropshadow(color=#fff, offx=1, offy=0);  
	}   

	tbody {
		td {
		padding: 0;  
		}

		td:last-child {
			border-right: 0;
		}

		tr {
			border-bottom: 1px solid #bbb;
		}

		tr:last-child {
			border-bottom: 0;
		}
	}

	td {
		span, a {
			display: inline-block;  
	    font-weight: bold;  
	    text-align: center;  
	    width: 100%;  
	    height: 100%;  
	    line-height: 30px;  
	    color: #666666;  
	    text-shadow: 1px 1px 0px #fff;  
	    filter: dropshadow(color=#fff, offx=1, offy=1);
		}
	}

	.ui-datepicker-calendar .ui-state-default {
		border: none;
		background-color: rgba(255,255,255,0.21);
		border-radius: 6px;
		font-family: "Roboto";
		font-weight: 300;
		font-size: 1.7em;
		color: white;
		box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
		-moz-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
		-webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.43);
	}

	.ui-datepicker-calendar .ui-state-hover {  
    background: #e0e0e0;  
	} 

	.ui-datepicker-title {
		color: #fff;
	}

	.ui-datepicker-calendar {
		tr {
			th {
				font-size: 12px;
				color: #FFFFFF;
			}
		}
	}

	.ui-icon.ui-icon-circle-triangle-e {
		float: right;
		margin-right: 26px;
		color: #FFF;
	}

	.ui-icon.ui-icon-circle-triangle-w {
		float: left;
		margin-left: 26px;
		color: #FFF;
	}

	.ui-datepicker-calendar .ui-state-active {  
    background: #6eafbf;  
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);  
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);  
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);  
    color: #e0e0e0;  
    text-shadow: 0px 1px 0px #4d7a85;  
    filter: dropshadow(color=#4d7a85, offx=0, offy=1);  
    border: 1px solid #55838f;  
    position: relative;  
    margin: -1px;  
	}  

	.ui-datepicker-calendar td:first-child .ui-state-active {  
    width: 99%;  
    margin-left: 0;  
	}  

	.ui-datepicker-calendar td:last-child .ui-state-active {  
    width: 99%;  
    margin-right: 0;  
	} 

	.ui-datepicker-calendar tr:last-child .ui-state-active {  
    height: 99%;  
    margin-bottom: 0;  
	}  

	.ui-datepicker-unselectable .ui-state-default {
		background: #f4f4f4;  
    color: #b4b3b3;  
	}

}

.container-back {
  width: 78%;
  left: 12%;
  position: relative;
}

@media screen and (max-width: 750px) {
  .alloutput {
    width: 90% !important;
    display: block !important;
    clear: initial !important;
  }

  .right-results {
    width: 100% !important;
    clear: initial !important;
  }
}

.select_wrapper {
  background: #6a8547 url("arrow.png") no-repeat top 15px right 12px;
  line-height: 36px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
  }

  .select_inner {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #687278;
    display: none;
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    z-index: 3;
  }

  span {
    display: block;
    margin: 0 30px 0 15px;
  }

  &:hover { background: #566c3a url("arrow.png") no-repeat top 15px right 12px; }

  .select_inner li {
    border-bottom: 1px solid #eee;
    padding: 0 15px;

    &:hover { background: #eee; }

    li:last-child {
      border: none;
      border-radius: 0 0 5px 5px;
    }

    li:first-child { border-radius: 5px 5px 0 0; }
  }
}

