<% @cart = @cart || current_cart %>
<div class="row">
  <div class="large-12 small-12 columns">
    <div class="row">      
      <div class="large-4 small-4 columns">
        Total: <span class="cart-price"><%= @cart.products.map(&:price).inject(0){ |sum, i| sum + i } %></span>
      </div>
      <div class="large-4 small-4 columns">
        <a href="#" data-reveal-id="checkout-tab" id="checkout">Checkout</a>
      </div>
      <div class="large-4 small-4 columns">
        <div class="shopping-cart"></div>(<span class="cart-items"><%= @cart.products.count %></span>)
      </div>
    </div>
  </div>
</div>
