<% @cart = @cart || current_cart %>
<p class="cart-name"> <%= @cart.name %> </p>
<p> Number of items: <span class="cart-items"> <%= @cart.products.count %> </span></p>
<p> Price: <span class="cart-price"><%= @cart.products.map(&:price).inject(0){ |sum, i| sum + i } %></span></p>