= form_for @registration, html: { class: "basic-grey" } do |f|
  - if @registration.errors.any?
    #error_explanation
      %h2
        = pluralize(@registration.errors.count, "error")
        prohibited this registration from being saved:
      %ul
        - @registration.errors.full_messages.each do |message|
          %li= message
  .actions
    -# NTD: Check if connected to interget, if not, show dif button
    %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js",
          data: {amount: 100, description: 'Test Cart', key: Figaro.env.stripe_key}}